# Configuration Avo

# API SadTalker
SADTALKER_API_URL=http://localhost:7860
SADTALKER_API_TIMEOUT=120

# Application Flask
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=True

# TTS
TTS_MODEL=tts_models/multilingual/multi-dataset/xtts_v2
TTS_SPEAKER=Claribel Dervla
TTS_LANGUAGE=fr

# Chemins
FACE_IMAGE=medias/face.png
AUDIO_DIR=audio
RESULTS_DIR=results
HISTORY_FILE=conversation_history.json
